Host *
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    User ansible
    # It is also needed to run command: ssh-add files/ssh_key/id.ansible
    IdentityFile "files/ssh_key/id-cat.ansible.pub"
